<html>
<head>
    <center>
        <h1> Welcome to </h1><br>
        <h1> MTG Tournament</h1><br>
    </center>
</head><br><br>

<body>
    <center>
       <b1> This is for info page and basic setup instructions. </b1>
        
    </center>
</body><br><br>
<footer>
    <center><br><br>
    <tr><a href='/'> Home </a></tr><hr>
    <tr><a href="/newplayerdetails"> New Player </a></tr><hr>
    <tr><a href="/addplayer"> Add Player to tournament </a></tr><hr>
    <tr><a href="/highscore"> Highscores </a></tr><hr>
    <tr><a href="place.html"> placeholder </a></tr><hr>
    
    </center>   
</footer>
</html>