<html>
<head>
    <center>
        <h1> Welcome </h1><br>
        <h1> Round Robin scores</h1><br>
    </center>
</head><br><br>

<body>
    <center>
        <table>
        <tr>
            <th> PLayer </th>
            <th> Score 1</th>
            <th> Score 2</th>
            <th> Score 3</th>
        </tr>
        <tr>
            <td> Name </td>
            <td> score1 </td>
            <td> score2 </td>
            <td> score3 </td>
        </tr>
        </table>
    </center>
</body><br><br>
<footer>
    <center>
    <tr><a href="home.html"> Home </a></tr>
    <tr><a href="newplayer.html"> New Player </a></tr>
    <tr><a href="addplayer.html"> Add Player to tournament </a></tr>
    <tr><a href="highscore.html"> Highscores </a></tr>
    <tr><a href="place.html"> placeholder </a></tr>
    
    </center>   
</footer>
</html>