<html>
    <center>
    <h1> Update score page </h1><br><br>

    {% for player in player %} 
    <h1>{{ player[0] }}</h1><br>
    {% endfor %}
    </center>
    <form action="/editscoresub" method="POST"><center>
    <br>
    {% for record in records %}
    <input type="hidden" name="pid" value={{record[0]}}>
    Score1:
    <select name="score1">
    <option hidden="0" value="{{record[1]}}"> {{record[1]}} </option>   
    <option value="0"> Null </option>
    <option value="1"> Loss </option>
    <option value="2"> Draw </option>
    <option value="3"> Win </option>
    </select><br><br>
    Score2:
    <select name="score2">
    <option hidden="0" value="{{record[2]}}"> {{record[2]}} </option> 
    <option value="0"> Null </option>  
    <option value="1"> Loss </option>
    <option value="2"> Draw </option>
    <option value="3"> Win </option>
    </select><br><br>
    Score3:
    <select name="score3">
        <option hidden="0" value="{{record[3]}}"> {{record[3]}} </option>   
        <option value="0"> Null </option>  
        <option value="1"> Loss </option>
        <option value="2"> Draw </option>
        <option value="3"> Win </option>
    </select><br><br>
    Score4:
    <select name="score4">
        <option hidden="0" value="{{record[4]}}"> {{record[4]}} </option>   
        <option value="0"> Null </option>  
        <option value="1"> Loss </option>
        <option value="2"> Draw </option>
        <option value="3"> Win </option>
    </select><br>

    {% endfor %}
    
    <input type="submit" methods="POST">
    
</center> </form>
<footer>
    <center>
        <center><br><br>
            <tr><a href='/'> Home </a></tr><hr>
            <tr><a href="/newplayerdetails"> New Player </a></tr><hr>
            <tr><a href="/addplayer"> Add Player to tournament </a></tr><hr>
            <tr><a href="/highscore"> Highscores </a></tr><hr>
            <tr><a href="/editplayer"> Edit Player </a></tr><hr>
    </center>   
</footer>
</html>