<html>
    <center>
    <h1> Update score page </h1>
    </center>
    <form><center>
    Score1:
    <select name="Game1">
    <option hidden="0" value="0"> Null </option>    #get value from SQL fpr edit.
    <option value="1"> Loss </option>
    <option value="2"> Draw </option>
    <option value="3"> Win </option>
    </select><br>
    Score2:
    <select name="Game2">
    <option value="1"> Loss </option>
    <option value="2"> Draw </option>
    <option value="3"> Win </option>
    </select><br>
    Score3:
    <select name="Game3">
    <option value="1"> Loss </option>
    <option value="2"> Draw </option>
    <option value="3"> Win </option>
    </select><br>
    Score4:
    <select name="Game4">
    <option value="1"> Loss </option>
    <option value="2"> Draw </option>
    <option value="3"> Win </option>
    </select><br>
    
    <input type="submit" methods="POST">
    
</center> </form>
<footer>
    <center>
    <tr><a href="home.html"> Home </a></tr>
    <tr><a href="newplayer.html"> New Player </a></tr>
    <tr><a href="addplayer.html"> Add Player to tournament </a></tr>
    <tr><a href="highscore.html"> Highscores </a></tr>
    <tr><a href="place.html"> placeholder </a></tr>
    
    </center>   
</footer>
</html>